
@font-face {
    font-family: fontSatoshi;
    src: url(fonts/Satoshi-Regular.otf);
}
*{padding: 0;
margin: 0;
box-sizing: border-box;
}


header{
    background-color: #000000;

}

.header.two{
    height: 9vh;
    border: none;
    display: flex;
    justify-content: space-around;
    align-items: center;
    font-size: 4vh;
    margin-left: -1vw;
    margin-right: -1vw;
    margin-top: -0.69vh;
    background-color: rgb(181, 255, 70);
    font-family: fontSatoshi;
    font-weight: 600;
}

li{
   
    list-style: none;

}

a{
   
    color: white;
    text-decoration: none;

}

.navbar{
   
    min-height: 10vh;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 24px;
}
.nav-menu{
   
    display: flex;
    justify-content: space-between;
    align-items:center ;
    gap: 60px;
}

.hamburger{
    display: none;
    cursor: pointer;

}

.bar{
    display: block;
    width: 25px;
    height: 3px;
    margin: 5px;
    -webkit-transition: all 0.3s ease-in-out;
    background-color: white;
}


.body.eventpage{
    display: flex;
    height: 100%;
}
.sportinfo{
    height: fit-content;
    width: 70%;
    display: inline-block;
}
.sportinfo .sportname{
    margin: 5vh 0vw 2.5vh 8.5vw;
    font-size: 4rem;
    font-family: Garamond;
    font-style: italic;
    font-weight: bolder
}

.input:hover{
    transform: scale(1.10);
}

.basket:hover{
   transform: scale(1.15);
   position: relative;
   left: 2vw;
   cursor: pointer;
}
.maincard{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

.card1 {
    margin-left: 7vw;
    /* width: 25vw;
    height: 39.5vw; */
    /* border: 1px solid black; */
    /* box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.3); */
    display: flex;
    flex-direction: column;
    transition: 0.35s 0s ease;
    box-shadow: 8px 8px 5px whitesmoke;
}

.card1:hover {
    transform: scale(1.03);
    box-shadow: 9px 9px 10px rgb(181, 181, 181);
}

.lowbox{
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.3);
}

.lowbox > .sname > h1 {
    font-family: fontSatoshi;
    font-weight: 600;
    font-size: 22px;
}

.Des1 > p {
    font-family: fontSatoshi;
}

.Des2 > p {
    font-family: fontSatoshi;
}

.card1 .sports {
    width: 25vw;
    height:35vh ;
    border: none;
   
    margin-left: .07vw;
    
}
.card1 h1 {
     
    background-color: #CFFF69;
    border: none;
    font-family: Satoshi;
    font-size: 24px;
    font-weight: 500;
    line-height:8px;
    letter-spacing: 0em;
    text-align: left;
    padding: 2.2rem;

}

.card1 .Date{
    font-family: fontSatoshi;
    font-weight: 600;
    margin-left: 2vw;
    margin-bottom: 1.4vw;
    margin-top: 1.1vw;
}

.card1 h2{
    text-decoration: none;
    text-align: right;
    font-style: italic;
    padding: 0.7rem;
   
}

.las{
    margin-top: 1vw;
    display: flex;
    align-items: center;
    justify-content: space-between;
}


.loc {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.loc > h3 {
    font-family: fontSatoshi;
}

.card1 p{

margin-left: 2vw;


}

.card1 h3{
    margin-left: 2vw;
    font-size: 1.2vw;
}

@media(max-width:768px){
   



    .sports{
        width: 65vw !important;
    }
.maincard{
    display: flex;
    flex-direction: column;
    gap: 40px;
}

.body{
    height:200vh
}
.card1{
    width: 65vw ;
}
    
    .hamburger{
        display: block;

    }

    .hamburger.active.bar:nth-child(2){
        opacity: 0;
    }
    .hamburger.active.bar:nth-child(1){
        transform: translateY(8px) rotate(45deg);
    }
    .hamburger.active.bar:nth-child(3){
        transform: translateY(-8px) rotate(-45deg);
    }

    .nav-menu{
        position: fixed;
        left: -100%;
        top: 70px;
        gap: 0;
        flex-direction: column;
        background-color: #000000;
        width: 100%;
        flex-wrap: wrap;
        height: 70%;
        text-align: center;
        transition: 0.3s;
        color: white;

     }

     .nav-item{
        margin: 16px 0;

     }

     .nav-menu.active{
        left: 0;

     }
    .some{
        display: flex;
        align-items: center;
        justify-content: space-between;
        margin-right: 40px;
    }
     .search-container {
        display: flex;
        align-items: center;
        max-width: 200vw;
        margin: 20px auto;
        padding: 5px;
        border: 1px solid #ccc;
        border-radius: 5px;
     }
     
     /* Style for the search input */
     .search-input {
        flex: 1;
        padding: 8px;
        border: none;
        border-radius: 5px 0 0 5px;
        outline: none;
     }
     
     /* Style for the search button */
     .search-button {
        padding: 8px 15px;
        background-color:  rgb(181, 255, 70);
        color: black;
        text-decoration: bold;
        border: none;
        border-radius: 0 5px 5px 0;
        cursor: pointer;
        outline: none;
     }

     .card1 h2{
       
        text-align: right;
        font-style: italic;
        
       
    }
}